body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.yellow {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    height: 500px;
    width: 500px;

}

.hire-me-btn {
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
}